@import url('https://fonts.googleapis.com/css2?family=Merriweather');


body{

    background-color: white;
    /* margin: 0 30px 0 30px; */
    text-align: justify;

}



h1{

    line-height: 100%;

}

h2{

    font-family: 'Volkhov', serif;
    line-height: 100%;

}

h3{

    font-style: italic;

}

p{

    font-family: 'Quicksand', sans-serif;
    /* font-weight: 400; */

}

ol{

    font-family: 'Quicksand', sans-serif;
    line-height: 120%;

}

li{

    line-height: 150%;

}

.header{

    font-family: 'Merriweather', serif;

}

.pageWrapper{
    background-color: white;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 75vw;
    display: grid;
    justify-content: center;
    grid-template-columns: 15rem 1fr 15rem;
    grid-template-rows: 10em repeat(3, 1fr) 10em;
    grid-template-areas: 
        "header header sidebar"
        "main main link"
        "main main link"
        "main main link"
        "footer footer footer";

    

}

a:link.noDecor{

    color: black;
    text-decoration: none;

}

a:visited.noDecor{

    color:black;
    text-decoration: none;

}

.flex{

    display: flex;
    
}

.flexColumn{

    flex-direction: column;
    align-items: center;

}



.flexEnd{

    align-items: flex-end;
    justify-content: space-around;

}

.navItem{

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 18px;


}
.largeFont{
    font-size: 45px;
    text-align: center;

}

.blackBorder{
    /* border: 1px solid black; */

}

.bracket{

    font-family: 'Volkhov', serif;
    font-weight: bold;


}
.grid1{
    /* background-color: antiquewhite; */
    grid-area: header;
    font-family: 'Merriweather', serif;

}

.main{
    /* background-color: pink; */
    grid-area: main;

    padding: 0px 30px 0px 30px;
    font-size: 18px;
    line-height: 125%;
    
}

.grid3{
    /* background-color: aqua; */
    grid-area: sidebar;
    
}

.grid4{
    /* background-color: greenyellow; */
    grid-area: footer;
    
}

.grid5{

    /* background-color: azure; */
    grid-area: link;

}

.link{

    border: 1px solid black;
    /* background-color: black; */

    
    height: 4em;
    width: 4em;
    margin: 1em;

}


  @media (max-width: 500px){

    .pageWrapper{
        /* border: 1px solid black; */
        /* background-color: grey; */
        
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "sidebar"
            "main"
            "link"
            "footer"
            
            ;

        /* grid-row-gap: 30px;
        grid-column-gap: 30px; */
        
    
    }


  }

  /* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Vidaloka', serif;
font-family: 'Volkhov', serif; */